*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, rgba(99,225,233,1) 0%, rgba(214,202,204,1) 100%);
}

body > header {
    padding: 0; /* Removendo preenchimento do cabeÃ§alho */
}

.cabecalho {
    display: flex;
    align-items: flex-start; /* Alinhando os itens na parte superior */
    justify-content: space-between;
    height: 75vh;
    width: 100%;
    position: relative;
}

.cabecalho::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imagens/BrasilComS_00013.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6;
    height: 100%;
}

header h1,
section h2 {
    text-transform: uppercase;
}

header .container {
    padding: 20px 10px 0; /* Adicionando padding ao topo do contÃĒiner */
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: flex-start; /* Alinhando os itens na parte superior */
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.home {
    display: flex;
    flex-wrap: wrap;
    margin-left: 13%;
}

.titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-top: 8%;
    margin-bottom: 12px;
}

.articles article a {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: aliceblue;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}